.App {
  text-align: center;
}

/* background image source and license */
/* https://commons.wikimedia.org/wiki/File:Market_Street_San_Francisco_From_Twin_Peaks.jpg */
.jumbo-style {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/static/Market_Street_San_Francisco_From_Twin_Peaks.jpg') no-repeat center;
  opacity: .50;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.result {
  margin: 20px;
}
